@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    background-color: #1c2125;
}

header {
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
}

footer {
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
}

main {
    margin-left: 14%;
    margin-right: 14%;
}

.yellow {
    color: #ffda6a;
}

.title-sm {
    Font-Family: 'Playfair Display', Serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.plot {
    display: block;
    width: 40%;
    height: auto;
    margin: 25px auto 20px auto;
}

.photo {
    display: block;
    margin: 25px auto 25px auto;
    border-radius: 3px;
    cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 1200px;
  border-radius: 3px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

pre code {
  background-color: #666;
  border: 1px solid #eee;
  display: block;
  width: auto;
}

table {
    margin: 25px auto 45px auto;
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid white;
    padding: 8px;
    text-align: center;
}

tr:hover {
    background-color: #ffda6a;
    color: #1c2125;
}

tr:first-child:hover {
    background-color: #1c2125;
    color: #ffda6a;
}

.normal-link {
    color: #ffda6a;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}