@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    background-color: #1c2125;
}

header {
    margin-bottom: 50px;
    text-align: center;
}

footer {
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
}

main {
    margin-left: 14%;
    margin-right: 14%;
}

.navbar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 4fr 7fr 4fr;
}

.yellow {
    color: #ffda6a;
}

.title-sm {
    Font-Family: 'Playfair Display', Serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.plot {
    display: block;
    width: 40%;
    height: auto;
    margin: 25px auto 20px auto;
}

.photo {
    display: block;
    margin: 25px auto 25px auto;
    border-radius: 3px;
    cursor: pointer;
}

pre code {
  background-color: #666;
  border: 1px solid #eee;
  display: block;
  width: auto;
}

table {
    margin: 25px auto 45px auto;
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid white;
    padding: 8px;
    text-align: center;
}

tr:hover {
    background-color: #ffda6a;
    color: #1c2125;
}

tr:first-child:hover {
    background-color: #1c2125;
    color: #ffda6a;
}

.normal-link {
    color: #ffda6a;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}