<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block data %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" media="screen and (max-width: 550px)" href="/static/base_mobile_small.css">
  <link rel="stylesheet" media="screen and (min-width: 551px) and (max-width: 800px)" href="/static/base_mobile.css">
  <link rel="stylesheet" media="screen and (min-width: 701px)" href="/static/base_desktop.css">
  <link rel="stylesheet" href="/static/base.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Source+Sans+Pro" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <header>
    <div class="header"></div>
    <div class="title">{% block ptitle %}{% endblock %}</div>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div class="footer"></div>
  </footer>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
  </script>
  <script
  src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
  integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
  crossorigin="anonymous"></script>
  {% block scripts %}{% endblock %}
</body>
</html>